{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="container">
        <h1>Chat J'aiPT</h1>
        <a class="btn" href="{{ path('app_home') }}">Accueil</a>
        <a class="btn" href="{{ path('app_logout') }}">Déconnexion</a>

        {% for message in messages %}
            <div class="message">
                {{ message.content|raw }}
                <small>Envoyé par {{ message.author.name }} le {{ message.date|date('Y-m-d H:i') }}</small>
            </div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.content, 'Ton message', {'label_attr': {'class': 'form-label'}}) }}
        </div>
        {{ form_end(form) }}
        <script>
            $('.summernote').summernote({
                codeviewFilter: true,
                codeviewIframeFilter: true,
                // toolbar: [
                //     // [groupName, [list of button]]
                //     ['style', ['bold', 'italic', 'underline', 'clear']],
                //     ['font', ['strikethrough', 'superscript', 'subscript']],
                //     ['fontsize', ['fontsize']],
                //     ['color', ['color']],
                //     ['para', ['ul', 'ol', 'paragraph']],
                //     ['height', ['height']]
                // ]
            });
        </script>
    </div>
{% endblock %}